@{
    ViewBag.Title = "UserDate";
}

<script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.signalR-2.2.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/signalr/hubs")"></script>

<div>
    用户ID：<input id="userId" type="text" />
    用户名：<input id="userName" type="text" />
    <input type="button" id="save" value="保存" />
</div>

<div>
    <table border="1" id="list_users">
        <thead><tr><td>用户ID</td><td>用户名</td></tr></thead>
        <tbody><tr><td colspan="2">Loading</td></tr></tbody>
    </table>
</div>

<script type="text/javascript">
    if (!String.prototype.supplant) {
        String.prototype.supplant = function (o) {
            return this.replace(/{([^{}]*)}/g,
                function (a, b) {
                    var r = o[b];
                    return typeof r === 'string' || typeof r === 'number' ? r : a;
                }
            );
        };
    }
    $(function () {
        $.connection.hub.logging = true;
        var userHub = $.connection.userHub,
        $table = $('#list_users'),
        $tableBody = $table.find('tbody'),
        rowTemplate = '<tr data-code="{Code}"><td>{Code}</td><td>{Name}</td></tr>';

        userHub.client.getall = function (data) {
            $tableBody.empty();
            $.each(data, function () {
                $tableBody.append(rowTemplate.supplant(this));
            });
        }

        $.connection.hub.start()
            .then(function () {
                userHub.server.getAllUser();
            }).done(function () {
            $("#save").click(function () {
                userHub.server.addOrUpdate({ code: $("#userId").val(), name: $("#userName").val() });
            })
        })
    })
</script>